$pink: #ff80ab;
$pink2: #f50057;
$lime: #aeea00;
$blue: #0091ea;
$skyblue: #00b0ff;
$amber: #ff8f00;
$bluegrey: #37474f;

$breakpoints: (
    'mobile':  767px,
    'tablet': 992px,
    'desktop':  1200px
) !default;
